extends layout

block content
    div.container
        div.row
            div.col-6
                form(method='POST', action='/student/add')
                    h4 Add Students
                    #form-group
                        label First Name:
                        input.form-control(name='first_name')
                    #form-group
                        label Last Name:
                        input.form-control(name='last_name')
                    input.btn.btn-primary(type='submit', value='Submit')
