extends layout

block content
    div.container
        div.row
            div.col-6
                form(method='POST', action='/add/antecedent')
                    h4 Add Antecedent
                    #form-group
                        label Description:
                        input.form-control(name='description' autofocus)
                    input.btn.btn-primary(type='submit', value='Submit')

