extends layout

block content
    .container
        .row
            form.form-inline(method='POST', action='/add/student')
                .form-group.mb-2
                    label First Name:
                    input.form-control(name='first_name' autofocus)
                .form-group.mx-sm-3.mb-2
                    label Last Name:
                    input.form-control(name='last_name')
                input.btn.btn-primary.mb-2(type='submit', value='Submit')
        .row
            table.table.table-striped
                thead
                    tr
                        th 
                        th Firstname
                        th Lastname
                tbody
                    each student, i in students
                        tr
                            td
                                a(shref='/delete/student/'+student.id) delete
                            td=student.first_name
                            td=student.last_name

