extends layout

block content
    .container
        .row
            .col-3
                ul 
                    li
                         a(href='/edit/students/') Students
                    li
                        a(href='/edit/antecedents/') Antecedents
                    li
                        a(href='/edit/consequences/') Concequences
            .col-9
                table.table
                    thead
                        tr
                            //each student, i in students
                                
                