extends layout

block content
    .container
        .row
            .col-12
                form(method='POST', action='/add/student')
                    .form-group
                        label First Name:
                        input.form-control(name='first_name' autofocus)
                    .form-group
                        label Last Name:
                        input.form-control(name='last_name')
                    input.btn.btn-primary(type='submit', value='Submit')

